*{margin: 0%;
    padding: 0%;
}

body{
    font-family: arial;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.card{
    flex: 0 0 200px; margin: 10px;

    text-align: center;
}
.container img{
    max-width: 100%;
}
.texts{
    padding: 5px; margin-bottom:10px;
}
.texts button{
  
    background: #566270; color: #fff;
    font-weight: 600;
    transition: all 0.3s ease-in;
}
.texts button:hover{
    background: #E0E3DA; color: #566270; cursor: pointer;
}

.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }